#grid-container{
    text-align: center;
    display: grid;
    gap: 5px;
    width: 800px;
    height: 600px;
}

#grid-item-1{
    grid-column: 1 / 7;
    grid-row: 1;
    background-color: blue;
}
#grid-item-2{
    grid-column: 1;
    grid-row: 2 / 15;
    background-color: red;
}
#grid-item-3{
    grid-column: 2 / 6;
    grid-row: 2 / 12;
    background-color: pink;
}
#grid-item-4{
    grid-column: 6;
    grid-row: 2 / 12;
    background-color: yellow;
}
#grid-item-5{
    color: white;
    grid-column: 2 / 7;
    grid-row: 12 / 15;
    background-color: black;
}